/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
/devports-e1f14f7847e2.json
/public/index.php
/packages/
/app/Console/Commands/DummyDevs.php
